{% if request.user.is_superuser %}
<div class="py-5 mb-4 bg-white rounded">
    <div class=" my-3 flex justify-between px-14 items-center">
        <h3 class="text-gray-400">Cards</h3>
        <span>...</span>
    </div>

    <div class="flex flex-wrap gap-5 justify-center items-center">

        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Noteworthy
                technology acquisitions 2021</h5>
            <p class="font-normal text-gray-700">Here are the biggest enterprise technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
        </a>

        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Noteworthy
                technology acquisitions 2021</h5>
            <p class="font-normal text-gray-700">Here are the biggest enterprise technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
        </a>
        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Noteworthy
                technology acquisitions 2021</h5>
            <p class="font-normal text-gray-700">Here are the biggest enterprise technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
        </a>
        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Noteworthy
                technology acquisitions 2021</h5>
            <p class="font-normal text-gray-700">Here are the biggest enterprise technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
        </a>
        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Noteworthy
                technology acquisitions 2021</h5>
            <p class="font-normal text-gray-700">Here are the biggest enterprise technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
        </a>

        <div class="p-6">
            <button type="button"
                class="text-white bg-purple-700 hover:bg-purple-800 font-medium rounded-full text-sm p-5 text-center inline-flex items-center me-2 ring-4 ring-purple-500 ring-offset-4">
                <svg class="w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 18 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 1v16M1 9h16" />
                </svg>
                <span class="sr-only">Icon description</span>
            </button>
        </div>

    </div>
</div>
{% endif %}