{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
  <!-- flowbite script -->

  <title>
    {% block title %}
    {% endblock %} | coinbase
  </title>
</head>



<nav class="bg-transparent fixed w-full z-20 top-0 start-0">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/" class="flex items-center text-white< space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl font-semibold whitespace-nowrap">Coinbase</span>
    </a>
    <div class="flex items-center gap-5 md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <div>
        <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
          class="flex items-center justify-between w-full py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto ">Sell Giftcards
          <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 4 4 4-4" />
          </svg></button>
        <!-- Dropdown menu -->
        <div id="dropdownNavbar"
          class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 0">
          <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownLargeButton">
            <li>
              <a href="#"
                class="block px-4 py-2 hover:bg-gray-100">Sell</a>
            </li>
            <li>
              <a href="#"
                class="block px-4 py-2 hover:bg-gray-100">Buy</a>
            </li>
          </ul>
        </div>
      </div>
      {% if request.user.is_authenticated %}
      <a href="{% url 'logout' %}"
        class="text-white font-medium rounded-full text-sm px-4 py-2 text-center bg-gradient-to-b from-violet-500 to-fuchsia-500 hover:bg-gradient-to-b hover:from-violet-800 hover:to-fuchsia-800">logout</a>
      {% else %}
      <a href="{% url 'login' %}"
        class="text-white font-medium rounded-full text-sm px-4 py-2 text-center bg-gradient-to-b from-violet-500 to-fuchsia-500 hover:bg-gradient-to-b hover:from-violet-800 hover:to-fuchsia-800">Login</a>
      {% endif %}
      <button data-collapse-toggle="navbar-sticky" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent">
        <li>
          <a href="/" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0"
            aria-current="page">Home</a>
        </li>
        <li>
          <a href="/about"
            class="block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">About</a>
        </li>
        <li>
          <a href="/blog"
            class="block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Blog</a>
        </li>
        <li>
          <a href="/contact"
            class="block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<section class="bg-white pt-40  bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')]">
    <div class="py-8 px-4 bg-white rounded-lg shadow mx-auto max-w-sm text-gray-900 mx-auto lg:py-16 z-10 relative">

        <h2 class="text-4xl text-center">Login</h2>
        <form action="" method="post">
            <h2></h2>
            {% csrf_token %}
            {{form}}
            <button type="submit"
                class="bg-gradient-to-b from-violet-800 to-fuchsia-800 text-blue-700 px-5 py-2 text-white w-full rounded-lg">login</button>
        </form>
        <p class="text-gray-900 text-center my-3"><a href="{% url 'password_reset' %}"
                class="bg-transparent underline border-none font-bold" data-modal-toggle="login-modal">forget
                password?</a></p>
        <p class="text-gray-900 text-center my-2">Don't have an account? <a href="{% url 'register' %}"
                class="bg-transparent underline border-none font-bold" data-modal-toggle="login-modal">Create account</a></p>

    </div>
    <div class="bg-gradient-to-b from-violet-800 to-fuchsia-800 w-full h-full absolute top-0 left-0 z-0"></div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>

</body>

</html>