{% extends '_base.html' %}

{% block content %}
<div class="p-4 sm:ml-64 bg-purple-100">
    <div class="p-4 rounded-lg mt-14">
        <!-- three cards with graph -->
        <div class=" w-full flex flex-wrap lg:flex-nowrap justify-center gap-5 mb-5">

            <div
                class=" w-full bg-white rounded-lg flex gap-2 flex-col md:flex-row items-center max-h-sm shadow p-4 md:p-6">

                <!-- Donut Chart -->
                <div class="" id="donut-chart"></div>
                <div class="flex flex-col gap-4">
                    <h2>Total number of transactions</h2>
                    <div
                        class="flex items-center py-0.5 text-base font-semibold text-green-500 dark:text-green-500 text-center">
                        12%
                        <svg class="w-3 h-3 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 10 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 13V1m0 0L1 5m4-4 4 4" />
                        </svg>
                    </div>
                </div>
            </div>

            <div
                class=" w-full bg-white rounded-lg flex flex-col md:flex-row gap-2 items-center max-h-sm shadow p-4 md:p-6">

                <!-- Donut Chart -->
                <div class="" id="donut-chart2"></div>
                <div class="flex flex-col gap-4">
                    <h2>Total number of transactions</h2>
                    <div
                        class="flex items-center py-0.5 text-base font-semibold text-green-500 dark:text-green-500 text-center">
                        12%
                        <svg class="w-3 h-3 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 10 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 13V1m0 0L1 5m4-4 4 4" />
                        </svg>
                    </div>
                </div>
            </div>

            <div
                class=" w-full bg-white rounded-lg flex flex-col md:flex-row gap-2 items-center max-h-sm shadow p-4 md:p-6">

                <!-- Donut Chart -->
                <div class="" id="donut-chart3"></div>
                <div class="flex flex-col gap-4">
                    <h2>Total number of transactions</h2>
                    <div
                        class="flex items-center py-0.5 text-base font-semibold text-green-500 dark:text-green-500 text-center">
                        12%
                        <svg class="w-3 h-3 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 10 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 13V1m0 0L1 5m4-4 4 4" />
                        </svg>
                    </div>
                </div>
            </div>

        </div>

        <div class="py-5 mb-5 rounded bg-white">

            <div class=" my-3 flex justify-between px-10 items-center">
                <h3>Conversion rate to naira</h3>
                <span>...</span>
            </div>

            <div class="flex flex-wrap lg:flex-nowrap gap-4 items-center justify-around ">
                <div>
                    <h3 class="text-purple-500 mb-4">Amazon card</h3>
                    <div class="grid grid-cols-2 gap-3">
                        <span>USA physical</span>
                        <span>N480.00</span>

                        <span>USA physical</span>
                        <span>N480.00</span>

                        <span>USA physical</span>
                        <span>N480.00</span>

                        <span>USA physical</span>
                        <span>N480.00</span>
                    </div>

                </div>

                <div>
                    <h3 class="text-purple-500 mb-4">ITunes card</h3>
                    <div class="grid grid-cols-2 gap-3">
                        <span>USA physical</span>
                        <span>N480.00</span>

                        <span>USA physical</span>
                        <span>N480.00</span>

                        <span>USA physical</span>
                        <span>N480.00</span>

                        <span>USA physical</span>
                        <span>N480.00</span>
                    </div>

                </div>

                <div>
                    <h3 class="text-purple-500 mb-4">Amazon card</h3>
                    <div class="grid grid-cols-2 gap-3">
                        <span>USA physical</span>
                        <span>N480.00</span>

                        <span>USA physical</span>
                        <span>N480.00</span>

                        <span>USA physical</span>
                        <span>N480.00</span>

                        <span>USA physical</span>
                        <span>N480.00</span>
                    </div>

                </div>

                <div class="p-3">
                    <button type="button"
                        class="text-white bg-purple-700 hover:bg-purple-800 font-medium rounded-full text-sm p-3 text-center inline-flex items-center me-2 ring-4 ring-purple-500 ring-offset-4">
                        <svg class="w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 18 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9 1v16M1 9h16" />
                        </svg>
                        <span class="sr-only">Icon description</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- wallet for user -->

        {% include './partials/wallet.html' %}

        {% include './partials/card.html' %}

        {% include './partials/user.html' %}

        <!-- agents -->
        {% include './partials/agent.html' %}

        <!-- payments -->
        <!-- <div class="py-5 mb-4 rounded bg-white">

            <div class=" my-3 flex justify-between px-14 items-center">
                <h3 class="text-gray-400">Payments</h3>
                <span>...</span>
            </div>

            <div class="relative overflow-x-auto p-6">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase ">
                        <tr>

                            <th scope="col" class="px-6 py-3">
                                Payment status
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Username
                            </th>
                            <th scope="col" class="px-6 py-3">
                                email
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="bg-white my-4 border border-black rounded-full overflow-x-hidden hover:bg-gray-50">

                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                Microsoft Surface Pro
                            </th>

                            <td class="px-6 py-4">
                                $1999
                            </td>
                            <td class="px-6 py-4">
                                1.0 lb.
                            </td>
                            <td class="flex items-center px-6 py-4">
                                <div class="flex justify-end px-4 pt-4">
                                    <button id="dropdownButton-1" data-dropdown-toggle="dropdown-1"
                                        class="inline-block text-gray-500 rounded-lg text-sm" type="button">
                                        <span class="sr-only">Open dropdown</span>
                                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor" viewBox="0 0 16 3">
                                            <path
                                                d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
                                        </svg>
                                    </button>
                                    Dropdown menu
                                    <div id="dropdown-1"
                                        class="z-10 hidden text-base list-none bg-white text-center divide-y divide-gray-100 rounded-lg shadow w-44">
                                        <ul class="py-2" aria-labelledby="dropdownButton">
                                            <li>
                                                <a href="#"
                                                    class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100">View</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100">Block</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>


                            </td>
                        </tr>

                        <tr class="bg-white my-4 border border-black rounded-full overflow-x-hidden hover:bg-gray-50">

                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                <span
                                    class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-3 py-1 rounded-full dark:bg-purple-900 dark:text-purple-300">Purple</span>
                            </th>

                            <td class="px-6 py-4 flex items-center gap-2">
                                <img class="w-10 h-10 rounded-full"
                                    src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
                                    alt="Rounded avatar">
                                <p>John Doe</p>
                            </td>
                            <td class="px-6 py-4">
                                youngestkid01@gmail.com
                            </td>
                            <td class="flex items-center px-6 py-4">
                                <div class="flex justify-end px-4 pt-4">
                                    <button id="dropdownButton" data-dropdown-toggle="dropdown-2"
                                        class="inline-block text-gray-500 rounded-lg text-sm" type="button">
                                        <span class="sr-only">Open dropdown</span>
                                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor" viewBox="0 0 16 3">
                                            <path
                                                d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
                                        </svg>
                                    </button>
                                    Dropdown menu
                                    <div id="dropdown-2"
                                        class="z-10 hidden text-base list-none bg-white text-center divide-y divide-gray-100 rounded-lg shadow w-44">
                                        <ul class="py-2" aria-labelledby="dropdownButton">
                                            <li>
                                                <a href="#"
                                                    class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100">View</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100">Block</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>


                            </td>
                        </tr>

                        <tr class="bg-white border border-black rounded-full overflow-x-hidden hover:bg-gray-50">

                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                Microsoft Surface Pro
                            </th>

                            <td class="px-6 py-4">
                                $1999
                            </td>
                            <td class="px-6 py-4">
                                1.0 lb.
                            </td>
                            <td class="flex items-center px-6 py-4">
                                <div class="flex justify-end px-4 pt-4">
                                    <button id="dropdownButton" data-dropdown-toggle="dropdown-3"
                                        class="inline-block text-gray-500 rounded-lg text-sm" type="button">
                                        <span class="sr-only">Open dropdown</span>
                                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor" viewBox="0 0 16 3">
                                            <path
                                                d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
                                        </svg>
                                    </button>
                                    Dropdown menu
                                    <div id="dropdown-3"
                                        class="z-10 hidden text-base list-none bg-white text-center divide-y divide-gray-100 rounded-lg shadow w-44">
                                        <ul class="py-2" aria-labelledby="dropdownButton">
                                            <li>
                                                <a href="#"
                                                    class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100">View</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100">Block</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>


                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->

        <!-- transactions -->
        <div class="py-5 mb-4 rounded bg-white">

            <div class=" my-3 flex justify-between px-14 items-center">
                <h3 class="text-gray-400">Transactions</h3>
                <span>...</span>
            </div>

            <div class="relative overflow-x-auto p-6">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase ">
                        <tr>

                            <th scope="col" class="px-6 py-3">
                                Date
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Transaction ID
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Type
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Value
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Return
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Status
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="bg-white my-4 border border-black rounded-full overflow-x-hidden hover:bg-gray-50">

                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                12/12/2002
                            </th>

                            <td class="px-6 py-4">
                                12345667
                            </td>
                            <td class="px-6 py-4">
                                card
                            </td>
                            <td class="px-6 py-4">
                                Amazon
                            </td>
                            <td class="px-6 py-4">
                                $100
                            </td>
                            <td class="px-6 py-4">
                                $100
                            </td>
                            <td class="px-6 py-4">
                                <span
                                    class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-3 py-1 rounded-full dark:bg-purple-900 dark:text-purple-300">Purple</span>
                            </td>

                            <td class="flex items-center px-6 py-4">
                                <div class="flex justify-end px-4 pt-4">
                                    <button id="dropdownButton-1" data-dropdown-toggle="dropdown-1"
                                        class="inline-block text-gray-500 rounded-lg text-sm" type="button">
                                        <span class="sr-only">Open dropdown</span>
                                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor" viewBox="0 0 16 3">
                                            <path
                                                d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
                                        </svg>
                                    </button>
                                    <!-- Dropdown menu -->
                                    <div id="dropdown-1"
                                        class="z-10 hidden text-base list-none bg-white text-center divide-y divide-gray-100 rounded-lg shadow w-44">
                                        <ul class="py-2" aria-labelledby="dropdownButton">
                                            <li>
                                                <a href="#"
                                                    class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100">View</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100">Block</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>


                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script>

    const getChartOptions = () => {
        return {
            series: [35.1, 23.5],
            colors: ["#1C64F2", "#16BDCA",],
            chart: {
                height: 200,
                width: '100%',
                type: "donut",
            },
            stroke: {
                colors: ["transparent"],
                lineCap: "",
            },
            dataLabels: {
                enabled: false,
            },

            plotOptions: {
                pie: {
                    donut: {
                        labels: {
                            show: true,
                            name: {
                                show: true,
                                fontFamily: "Inter, sans-serif",
                                offsetY: 20,
                            },
                            total: {
                                showAlways: true,
                                show: true,
                                fontFamily: "Inter, sans-serif",
                                formatter: function (w) {
                                    const sum = w.globals.seriesTotals.reduce((a, b) => {
                                        return a + b
                                    }, 0)
                                    return `${sum}k`
                                },
                            },
                            value: {
                                show: true,
                                fontFamily: "Inter, sans-serif",
                                offsetY: -20,
                                fontSize: '10px',
                                formatter: function (value) {
                                    return value + "k"
                                },
                            },
                        },
                        size: "80%",
                    },
                },
            }
        }
    }

    const chartFunction = (element) => {
        console.log(element)
        if (element && typeof ApexCharts !== 'undefined') {
            console.log('reach here')
            const chart = new ApexCharts(element, getChartOptions());
            chart.render();
        }
    }

    // ApexCharts options and config
    window.addEventListener("load", function () {


        const doughChart = document.getElementById('donut-chart')
        const doughChart2 = document.getElementById('donut-chart2')
        const doughChart3 = document.getElementById('donut-chart3')
        chartFunction(doughChart)
        chartFunction(doughChart2)
        chartFunction(doughChart3)

    });
</script>
{% endblock %}

{% block script %}

{% endblock %}